#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 250px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
html, body
{
  height: 100%;
  margin: 0;
  background-image: linear-gradient(to right top,  rgb(255, 106, 0), rgb(249, 248, 248), rgb(145, 255, 0));

}